table {
  border-spacing: 30px; /* テーブルセル間の距離 */
}

td, th {
  padding: 30px; /* テーブルセル内部のスペース */
}

.show_area{
  
  margin-bottom: 30px;
  font-size:3rem;
  
  text-decoration: none;
  display: block;
  padding: 20rem;
  
}
